.contacts {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  margin-bottom: 64px;
  &__item {
    &--phone {
      order: -1;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $transition;
    color: $grey-color;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &--phone {
      font-size: 22px;
      line-height: calc(30 / 22);
      color: $accent-color;
    }
  }
  &__icon {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .contacts {
    row-gap: 32px;
    &__link {
      font-size: 24px;
      line-height: calc(28 / 24);
      &--phone {
        font-size: 34px;
        line-height: calc(40 / 34);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    row-gap: 10px;
    margin-bottom: 0;
    &__item {
      &--phone {
        order: 0;
      }
    }
    &__link {
      font-size: 14px;
      line-height: calc(16 / 14);

      &--phone {
        font-size: 14px;
        line-height: calc(16 / 14);
        color: $grey-color;
      }
    }
    &__icon {
      display: inline-block;
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
    row-gap: 0;
    column-gap: 50px;
  }
}
