//* COLORS
$accent-color: #2196f3;
$primary-color: #212121;
$grey-color: #757575;
$icon-grey-color: #afb1b8;
$white-color: #fff;
$background-dark-color: #2f303a;
$background-light-color: #f5f4fa;

//* FONTS
$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;

//* TRANSITION
$transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);